.bindiCreativa {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }
  .bindiCreativa h2 {
    font-size: 34px;
    font-weight: 700; }
    @media all and (min-width: 768px) {
      .bindiCreativa h2 {
        font-size: 50px; } }
    @media all and (min-width: 992px) {
      .bindiCreativa h2 {
        font-size: 65px; } }
  .bindiCreativa h3 {
    font-weight: 600;
    margin-bottom: 30px; }
  .bindiCreativa .imagen {
    width: 100%;
    height: 260px;
    background-image: url(../img/logo-blanco.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    margin-top: 60px; }
    @media all and (min-width: 768px) {
      .bindiCreativa .imagen {
        height: 420px;
        margin-top: 90px; } }
  @media all and (min-width: 768px) {
    .bindiCreativa section {
      padding-left: 100px;
      padding-right: 100px; } }

.bindiCreativa .wrapper-nav {
  width: 100%;
  height: 50px;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 600;
  transition: all .5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s; }
  .bindiCreativa .wrapper-nav .navbar {
    padding: 0; }
    .bindiCreativa .wrapper-nav .navbar .navbar-toggler {
      line-height: 2;
      position: absolute;
      top: 0;
      right: 30px; }
    .bindiCreativa .wrapper-nav .navbar .navbar-nav {
      text-align: center;
      background-color: #fff;
      height: 30px;
      margin-top: 30px; }
      .bindiCreativa .wrapper-nav .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #f2f2f2;
        background-color: #fff; }
        .bindiCreativa .wrapper-nav .navbar .navbar-nav .nav-item a {
          text-decoration: none;
          color: #000;
          padding: 12px 20px;
          cursor: pointer; }
          .bindiCreativa .wrapper-nav .navbar .navbar-nav .nav-item a:hover {
            text-decoration-line: underline; }
        @media all and (min-width: 992px) {
          .bindiCreativa .wrapper-nav .navbar .navbar-nav .nav-item {
            border-bottom: none; } }
      @media all and (min-width: 992px) {
        .bindiCreativa .wrapper-nav .navbar .navbar-nav {
          margin-top: 0;
          position: absolute;
          right: 50px;
          top: 0px; } }
    .bindiCreativa .wrapper-nav .navbar .logo {
      width: auto;
      height: 40px;
      position: absolute;
      left: 30px;
      top: 5px; }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-nav .navbar .logo {
          left: 50px; } }
.bindiCreativa .contrain {
  opacity: 0.9;
  -khtml-opacity: 0.9; }

.bindiCreativa .wrapper-main .wrapper-card {
  width: 100%;
  height: auto;
  min-height: 500px;
  margin: 0;
  padding: 50px 0; }
  @media all and (min-width: 768px) {
    .bindiCreativa .wrapper-main .wrapper-card {
      padding-left: 100px;
      padding-right: 100px; } }
  .bindiCreativa .wrapper-main .wrapper-card.comunicacion {
    background: #FE4096;
    margin-top: 0; }
    .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card {
      text-align: center;
      margin: 0 auto; }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card {
          padding: 200px 0; } }
      .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card h2 {
        margin-top: 20px;
        color: #fff; }
      .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card p {
        color: #f0ed73;
        font-size: 28px;
        font-weight: 600; }
        @media all and (min-width: 768px) {
          .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card p {
            font-size: 40px; } }
  .bindiCreativa .wrapper-main .wrapper-card.escuchamos {
    background-color: #f0ed73;
    padding-bottom: 10px; }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrapper-main .wrapper-card.escuchamos {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transition: all 0.75s;
        -webkit-transition: all 0.75s;
        -moz-transition: all 0.75s; } }
    .bindiCreativa .wrapper-main .wrapper-card.escuchamos .imagen {
      width: 100%;
      height: 150px;
      margin: 20px auto;
      background-image: url(../img/ojo-blanco-horizontal.png); }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-main .wrapper-card.escuchamos .imagen {
          position: absolute;
          right: 100px;
          height: 360px;
          margin: 100px 0 0 0; } }
      @media all and (min-width: 992px) {
        .bindiCreativa .wrapper-main .wrapper-card.escuchamos .imagen {
          margin: 40px 0 0 0; } }
    .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title {
      margin-top: 60px;
      text-align: center; }
      .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title h2 {
        color: #787877; }
      .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title p {
        color: #fff;
        font-size: 21px;
        font-weight: 600; }
        @media all and (min-width: 768px) {
          .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title p {
            font-size: 30px; } }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title {
          text-align: left; } }
    .bindiCreativa .wrapper-main .wrapper-card.escuchamos .foot-card {
      color: #787877;
      margin-bottom: 0;
      font-weight: 100;
      padding-top: 50px;
      font-size: 15px; }
      @media all and (min-width: 992px) {
        .bindiCreativa .wrapper-main .wrapper-card.escuchamos .foot-card {
          font-size: 25px; } }
  .bindiCreativa .wrapper-main .wrapper-card.servicios {
    background-color: #787877;
    text-align: center;
    color: #fff; }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrapper-main .wrapper-card.servicios {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transition: all 0.75s;
        -webkit-transition: all 0.75s;
        -moz-transition: all 0.75s; } }
    .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services {
      padding: 30px 15px; }
      .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle {
        width: 180px;
        height: 180px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 30px; }
        .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle.circle1 {
          background-image: url(../img/iris-rosa.png); }
        .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle.circle2 {
          background-image: url(../img/iris-amarillo.png); }
        .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle.circle3 {
          background-image: url(../img/iris-celeste.png); }
      .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services h2 {
        margin-top: 20px; }
        @media all and (min-width: 768px) {
          .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services h2 {
            margin-top: 40px; } }
      .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services p {
        font-size: 18px;
        color: #e8b3c3;
        padding: 0;
        margin: 0; }
  .bindiCreativa .wrapper-main .wrapper-card.origen {
    background-color: #FE4096;
    color: #f0ed73;
    padding-top: 0;
    position: relative; }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrapper-main .wrapper-card.origen {
        opacity: 0;
        padding-top: 50px;
        visibility: hidden;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transition: all 0.75s;
        -webkit-transition: all 0.75s;
        -moz-transition: all 0.75s; } }
    .bindiCreativa .wrapper-main .wrapper-card.origen .img {
      background-image: url(../img/ojo-blanco-vertical.png);
      width: 100px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 10px;
      top: 65px; }
    .bindiCreativa .wrapper-main .wrapper-card.origen h2 {
      padding: 60px 0 0 0; }
    .bindiCreativa .wrapper-main .wrapper-card.origen p {
      font-size: 20px;
      line-height: 32px;
      color: #fff;
      padding: 0;
      margin: 0; }
  .bindiCreativa .wrapper-main .wrapper-card.credenciales {
    min-height: auto;
    height: auto;
    padding: 0; }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrapper-main .wrapper-card.credenciales {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transition: all 0.75s;
        -webkit-transition: all 0.75s;
        -moz-transition: all 0.75s; } }
    .bindiCreativa .wrapper-main .wrapper-card.credenciales .slide {
      width: 100%;
      height: auto; }
      .bindiCreativa .wrapper-main .wrapper-card.credenciales .slide img {
        height: auto; }
  .bindiCreativa .wrapper-main .wrapper-card.qa-parallax-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0); }

.bindiCreativa .wrap-foot .line-foot {
  width: 100%;
  height: 80px;
  background-color: #f0ed73; }
.bindiCreativa .wrap-foot .center-foot {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #787877;
  color: #fff;
  padding: 60px 30px 0 30px;
  position: relative;
  text-align: center; }
  @media all and (min-width: 768px) {
    .bindiCreativa .wrap-foot .center-foot {
      text-align: left;
      padding-left: 100px;
      padding-right: 100px; } }
  .bindiCreativa .wrap-foot .center-foot h3 {
    font-size: 30px; }
  .bindiCreativa .wrap-foot .center-foot a:hover {
    text-decoration-line: underline; }
  .bindiCreativa .wrap-foot .center-foot a,
  .bindiCreativa .wrap-foot .center-foot p {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px; }
    .bindiCreativa .wrap-foot .center-foot a i,
    .bindiCreativa .wrap-foot .center-foot p i {
      font-size: 25px; }
  .bindiCreativa .wrap-foot .center-foot form .form-group {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px; }
  .bindiCreativa .wrap-foot .center-foot .btn {
    background-color: #FE4096;
    color: #fff;
    display: none; }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrap-foot .center-foot .btn {
        display: block; } }
    .bindiCreativa .wrap-foot .center-foot .btn:hover {
      background-color: #DF0174; }
  .bindiCreativa .wrap-foot .center-foot .load {
    text-align: center; }
  .bindiCreativa .wrap-foot .center-foot .imagen {
    margin-top: 50px;
    width: 100%;
    background-image: url(../img/ojo-blanco-horizontal.png); }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrap-foot .center-foot .imagen {
        margin-top: 0;
        position: absolute;
        right: 0;
        height: 350px;
        z-index: 100;
        top: 70px; } }
  .bindiCreativa .wrap-foot .center-foot .redes {
    margin-top: 30px;
    text-align: center; }
    .bindiCreativa .wrap-foot .center-foot .redes .wrap-icon {
      position: relative; }
      .bindiCreativa .wrap-foot .center-foot .redes .wrap-icon i {
        vertical-align: bottom;
        font-size: 30px; }
      .bindiCreativa .wrap-foot .center-foot .redes .wrap-icon .shoe {
        width: 30px;
        height: 30px;
        background-image: url(../img/zapatilla.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
        transform: rotate(-90deg);
        margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
