.bindiCreativa {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }
  .bindiCreativa h2 {
    font-size: 40px;
    font-weight: 700; }
    @media all and (min-width: 768px) {
      .bindiCreativa h2 {
        font-size: 60px; } }
  .bindiCreativa h3 {
    font-weight: 600; }

.bindiCreativa .wrapper-nav {
  width: 100%;
  height: 50px;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 1; }
  .bindiCreativa .wrapper-nav .navbar .navbar-nav {
    margin: 0 auto; }
    .bindiCreativa .wrapper-nav .navbar .navbar-nav a {
      text-decoration: none;
      color: #000;
      cursor: pointer; }

.bindiCreativa .wrapper-main .wrapper-card {
  width: 100%;
  height: auto;
  min-height: 500px;
  margin: 10px 0; }
  .bindiCreativa .wrapper-main .wrapper-card .imagen {
    width: 100%;
    height: 260px;
    background-image: url(../img/logo-blanco.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    margin-top: 60px; }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrapper-main .wrapper-card .imagen {
        height: 400px;
        margin-top: 90px;
        margin-left: 60px; } }
  .bindiCreativa .wrapper-main .wrapper-card.comunicacion {
    background-color: #FD30A0;
    margin-top: 0;
    padding-bottom: 50px; }
    .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card {
      text-align: center;
      margin: 0 auto; }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card {
          padding: 200px 0; } }
      .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card h2 {
        margin-top: 20px;
        color: #fff; }
        @media all and (min-width: 768px) {
          .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card h2 {
            margin-top: 0; } }
      .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card p {
        color: #fecd08;
        font-size: 30px;
        font-weight: 600; }
        @media all and (min-width: 768px) {
          .bindiCreativa .wrapper-main .wrapper-card.comunicacion .title-card p {
            font-size: 40px; } }
  .bindiCreativa .wrapper-main .wrapper-card.escuchamos {
    background-color: #EFE65E;
    padding-bottom: 10px; }
    .bindiCreativa .wrapper-main .wrapper-card.escuchamos .imagen {
      width: 100%;
      background-image: url(../img/ojo-blanco-horizontal.png); }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-main .wrapper-card.escuchamos .imagen {
          position: absolute;
          right: 100px;
          height: 400px; } }
    @media all and (min-width: 768px) {
      .bindiCreativa .wrapper-main .wrapper-card.escuchamos {
        padding-left: 20px; } }
    .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title {
      margin-top: 100px;
      text-align: center; }
      .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title h2 {
        color: #787877; }
      .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title p {
        color: #fff;
        font-size: 30px;
        font-weight: 600; }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-main .wrapper-card.escuchamos .wrap-title {
          text-align: left; } }
    .bindiCreativa .wrapper-main .wrapper-card.escuchamos .foot-card {
      color: #787877;
      margin-bottom: 0;
      font-weight: 400;
      padding-top: 50px; }
      @media all and (min-width: 768px) {
        .bindiCreativa .wrapper-main .wrapper-card.escuchamos .foot-card {
          font-size: 28px; } }
  .bindiCreativa .wrapper-main .wrapper-card.servicios {
    background-color: #787877;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 50px; }
    .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services {
      padding: 30px 15px; }
      .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle {
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 15px; }
        .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle.circle1 {
          background-image: url(../img/iris-rosa.png); }
        .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle.circle2 {
          background-image: url(../img/iris-amarillo.png); }
        .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services .circle.circle3 {
          background-image: url(../img/iris-celeste.png); }
      .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services h2 {
        margin-top: 20px; }
        @media all and (min-width: 768px) {
          .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services h2 {
            margin-top: 40px; } }
      .bindiCreativa .wrapper-main .wrapper-card.servicios .wrap-services p {
        font-size: 18px;
        color: #fcabf0;
        padding: 0;
        margin: 0; }
  .bindiCreativa .wrapper-main .wrapper-card.origen {
    background-color: #FD30A0;
    color: #EFE65E;
    padding-bottom: 50px; }
    .bindiCreativa .wrapper-main .wrapper-card.origen h2 {
      padding-top: 60px; }
    .bindiCreativa .wrapper-main .wrapper-card.origen p {
      font-size: 20px;
      line-height: 32px;
      color: #fff;
      padding: 0;
      margin: 0; }

.bindiCreativa .wrap-foot .line-foot {
  width: 100%;
  height: 100px;
  background-color: #EFE65E; }
.bindiCreativa .wrap-foot .center-foot {
  width: 100%;
  height: 300px;
  background-color: #787877;
  color: #fff;
  padding: 90px 30px 0 60px; }
  .bindiCreativa .wrap-foot .center-foot h3 {
    font-size: 30px; }
  .bindiCreativa .wrap-foot .center-foot a, .bindiCreativa .wrap-foot .center-foot p {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    margin-top: 20px;
    line-height: normal; }

/*# sourceMappingURL=style.css.map */
