.bindiCreativa {
    .wrap-foot {
        .line-foot {
            width: 100%;
            height: 40px;
            background-color: $bg-secondCard;
            @include respond-to(medium){
                height: 80px;
            }
        }
        .center-foot {
            position: relative;
            width: 100%;
            height: auto;
            background-color: $bg-thirthCard;
            color: $whiteColor;
            padding: 60px 30px 0 30px;
            position: relative;
            text-align: center;
            @include respond-to(medium) {
                text-align: left;
                padding-left: 100px;
                padding-right: 100px;
            }
            h3 {
                font-size: 30px;
            }
            a:hover {
                text-decoration-line: underline;
            }
            a,
            p {
                text-decoration: none;
                color: $whiteColor;
                font-weight: 200;
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 18px;
                i {
                    font-size: 25px;
                }
            }
            form {
                .form-group {
                    padding-left: 0;
                    padding-right: 0;
                    margin-bottom: 15px;
                }
            }
            .btn {
                background-color: $bg-firstCard;
                color: $whiteColor;
                display: none;
                @include respond-to(medium){
                    display: block;
                }
                &:hover {
                    background-color: #DF0174;
                }
            }
            .load {
                text-align: center;
            }
            .imagen {
                margin-top: 50px;
                width: 100%;
                background-image: url(../img/ojo-blanco-horizontal.png);
                @include respond-to(medium) {
                    margin-top: 0;
                    position: absolute;
                    right: 0;
                    height: 350px;
                    z-index: 100;
                    top: 70px;
                }
            }
            .redes {
                margin-top: 30px;
                text-align: center;
                .wrap-icon {
                    position: relative;
                    i {
                        vertical-align: bottom;
                        font-size: 30px;
                    }
                    .shoe {
                        width: 30px;
                        height: 30px;
                        background-image: url(../img/zapatilla.svg);
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position-y: center;
                        background-size: contain;
                        transform: rotate(-90deg);
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
