.bindiCreativa {
    .wrapper-main {
        .wrapper-card {
            width: 100%;
            height: auto;
            min-height: 500px;
            margin: 10px 0;
            padding: 50px 0;
            &.comunicacion {
                background: $bg-firstCard;
                margin-top: 0;
                .title-card {
                    text-align: center;
                    margin: 0 auto;
                    @include respond-to(medium) {
                        padding: 200px 0;
                    }
                    h2 {
                        margin-top: 20px;
                        color: $whiteColor;
                        @include respond-to(medium) {
                            margin-top: 0;
                        }
                    }
                    p {
                        color: $subTitleCom;
                        font-size: 30px;
                        font-weight: 600;
                        @include respond-to(medium) {
                            font-size: 40px;
                        }
                    }
                }
            }
            &.escuchamos {
                background-color: $bg-secondCard;
                padding-bottom: 10px;
                @include respond-to(medium){
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all .75s;
                    -webkit-transition: all .75s;
                    -moz-transition: all .75s;
                }
                .imagen {
                    width: 100%;
                    background-image: url(../img/ojo-blanco-horizontal.png);
                    @include respond-to(medium) {
                        position: absolute;
                        right: 100px;
                        height: 400px;
                    }
                }
                .wrap-title {
                    margin-top: 100px;
                    text-align: center;
                    h2 {
                        color: $bg-thirthCard;
                    }
                    p {
                        color: $whiteColor;
                        font-size: 30px;
                        font-weight: 600;
                    }
                    @include respond-to(medium) {
                        text-align: left;
                    }
                }
                .foot-card {
                    color: $bg-thirthCard;
                    margin-bottom: 0;
                    font-weight: 400;
                    padding-top: 50px;
                    @include respond-to(medium) {
                        font-size: 28px;
                    }
                }
            }
            &.servicios {
                background-color: $bg-thirthCard;
                text-align: center;
                color: $whiteColor;
                @include respond-to(medium){
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all .75s;
                    -webkit-transition: all .75s;
                    -moz-transition: all .75s;
                }
                .wrap-services {
                    padding: 30px 15px;
                    .circle {
                        width: 150px;
                        height: 150px;
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position-y: center;
                        background-size: contain;
                        margin: 0 auto;
                        border-radius: 50%;
                        margin-bottom: 15px;
                        &.circle1 {
                            background-image: url(../img/iris-rosa.png);
                        }
                        &.circle2 {
                            background-image: url(../img/iris-amarillo.png);
                        }
                        &.circle3 {
                            background-image: url(../img/iris-celeste.png);
                        }
                    }
                    h2 {
                        margin-top: 20px;
                        @include respond-to(medium) {
                            margin-top: 40px;
                        }
                    }
                    p {
                        font-size: 18px;
                        color: $leterService;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            &.origen {
                background-color: $bg-firstCard;
                color: $bg-secondCard;
                @include respond-to(medium){
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all .75s;
                    -webkit-transition: all .75s;
                    -moz-transition: all .75s;
                }
                h2 {
                    padding-top: 60px;
                }
                p {
                    font-size: 20px;
                    line-height: 32px;
                    color: $whiteColor;
                    padding: 0;
                    margin: 0;
                }
            }
            &.credenciales {
                padding: 0;
                @include respond-to(medium){
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all .75s;
                    -webkit-transition: all .75s;
                    -moz-transition: all .75s;
                }
                .slide {
                    width: 100%;
                    ol {
                        li {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            &.qa-parallax-active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
            }
  
        }
    }

}
