.bindiCreativa {  
    .wrapper-main {
        .wrapper-card {
            width: 100%;
            height: auto;
            min-height: 500px;
            margin: 0;
            padding: 50px 0;
            @include respond-to(medium) {
                padding-left: 100px;
                padding-right: 100px;
            }
            &.comunicacion {
                background: $bg-firstCard;
                margin-top: 0;
                .title-card {
                    text-align: center;
                    margin: 0 auto;
                    @include respond-to(medium) {
                        padding: 200px 0;
                    }
                    h2 {
                        margin-top: 20px;
                        color: $whiteColor;
                    }
                    p {
                        color: $bg-secondCard;
                        font-size: 28px;
                        font-weight: 600;
                        @include respond-to(medium) {
                            font-size: 40px;
                        }
                    }
                }
            }
            &.escuchamos {
                background-color: $bg-secondCard;
                padding-bottom: 10px;
                @include respond-to(medium) {
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all 0.75s;
                    -webkit-transition: all 0.75s;
                    -moz-transition: all 0.75s;
                }
                .imagen {
                    width: 100%;
                    height: 150px;
                    margin: 20px auto;
                    background-image: url(../img/ojo-blanco-horizontal.png);
                    @include respond-to(medium) {
                        position: absolute;
                        right: 100px;
                        height: 360px;
                        margin: 100px 0 0 0;
                    }
                    @include respond-to(normal) {
                        margin: 40px 0 0 0;
                    }
                }
                .wrap-title {
                    margin-top: 60px;
                    text-align: center;
                    h2 {
                        color: $bg-thirthCard;
                    }
                    p {
                        color: $whiteColor;
                        font-size: 21px;
                        font-weight: 600;
                        @include respond-to(medium){
                            font-size: 30px;
                        }
                    }
                    @include respond-to(medium) {
                        text-align: left;
                    }
                }
                .foot-card {
                    color: $bg-thirthCard;
                    margin-bottom: 0;
                    font-weight: 100;
                    padding-top: 50px;
                    @include respond-to(normal) {
                        font-size: 25px;
                    }
                }
            }
            &.servicios {
                background-color: $bg-thirthCard;
                text-align: center;
                color: $whiteColor;
                @include respond-to(medium) {
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all 0.75s;
                    -webkit-transition: all 0.75s;
                    -moz-transition: all 0.75s;
                }
                .wrap-services {
                    padding: 30px 15px;
                    .circle {
                        width: 180px;
                        height: 180px;
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position-y: center;
                        background-size: contain;
                        margin: 0 auto;
                        border-radius: 50%;
                        margin-bottom: 30px;
                        &.circle1 {
                            background-image: url(../img/iris-rosa.png);
                        }
                        &.circle2 {
                            background-image: url(../img/iris-amarillo.png);
                        }
                        &.circle3 {
                            background-image: url(../img/iris-celeste.png);
                        }
                    }
                    h2 {
                        margin-top: 20px;
                        @include respond-to(medium) {
                            margin-top: 40px;
                        }
                    }
                    p {
                        font-size: 18px;
                        color: $leterService;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            &.origen {
                background-color: $bg-firstCard;
                color: $bg-secondCard;
                padding-top: 0;
                position: relative;
                @include respond-to(medium) {
                    opacity: 0;
                    padding-top: 50px;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all 0.75s;
                    -webkit-transition: all 0.75s;
                    -moz-transition: all 0.75s;
                }
                .img {
                    background-image: url(../img/ojo-blanco-horizontal.png);
                    width: 100%;
                    height: 70px;
                    background-size: contain;
                    transform: rotate(-90deg);
                }
                h2 {
                    padding: 60px 0 0 0;
                }
                p {
                    font-size: 20px;
                    line-height: 32px;
                    color: $whiteColor;
                    padding: 0;
                    margin: 0;
                }
            }
            &.credenciales {
                min-height: auto;
                height: auto;
                padding: 0;
                @include respond-to(medium) {
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    -webkit-transform: translateY(100px);
                    -moz-transform: translateY(100px);
                    transition: all 0.75s;
                    -webkit-transition: all 0.75s;
                    -moz-transition: all 0.75s;
                }
                .slide {
                    width: 100%;
                    height: auto;
                    img {
                        height: auto;
                    }
                }
            }
            &.qa-parallax-active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
            }
        }
    }
}
