// COLORES

$bg-firstCard : #FD30A0;
$bg-secondCard: #EFE65E;// #FDF730;
$bg-thirthCard: #787877;
$whiteColor: #fff;
$leterService: #f9bdf0;
$subTitleCom: #fecd08;


//mediaQueries
$competitive-sm: 576px; // Breakpoint for smartphone
$competitive-md: 768px; // Breakpoint for tablet portrait
$competitive-lg: 992px; // Breakpoint for tablet landscape
$competitive-el: 1025px; // Breakpoint for desktop